* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.working-list-wrapper,
.done-list-wrapper {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.working-list-title,
.done-list-title {
  width: 100%;
}

.working-todo-wrapper,
.done-todo-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
}
